body {
  font-family: "Nunito", sans-serif;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
* {
  padding: 0;
  margin: 0;
}
.headings {
  font-family: "Nunito", sans-serif;
  margin-bottom: 2%;
  font-size: 40px;
}
.title {
  font-size: 40px;
  margin: 4%;
}
.container-fluid {
  font-family: "Nunito", sans-serif;
  /* padding: 2% 0 0 0 !important; */
}
.about-us-description {
  padding: 2%;
  font-size: 18px;
}
.container-fluid__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-top: 2%;
}
.container-fluid__navbar__image img {
  height: 80px;
  margin-left: 40%;
}
.container-fluid__navbar__header__right {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-top: 4%;
}
.container-fluid__navbar__header__right li a {
  color: #222;
  text-decoration: none;
  font-weight: 400;
  padding: 15px 20px;
}
.container-fluid__navbar__header__right li a:hover {
  color: white;
  background-color: #484bb4;
  border-radius: 3px;
}
.container-fluid__bg {
  background-image: url("../images/logomaker_background.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.container-fluid__landing-page {
  padding: 12% 6% 12% 6% !important;
}
.container-fluid__landing-page__head h1 {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 36px;
}
.container-fluid__landing-page__title {
  padding: 2% 0 4% 0;
}
.container-fluid__landing-page__title h3 {
  color: #7d7d7d;
  font-size: 16px;
}
.container-fluid__landing-page__button img {
  -webkit-transform: translate(6px, -10px);
  transform: translate(6px, -10px);
  z-index: 10;
  width: 10%;
  height: auto;
  position: relative;
  float: left;
}
.container-fluid__landing-page__button__btn {
  position: relative;
  float: left;
  width: 80%;
  height: 56px;
  border-radius: 32px;
  color: white;
  background-color: #484bb4;
  font-size: 24px;
}
.container-fluid__landing-page__btn {
  position: relative;
  width: 60%;
  height: 56px;
  border-radius: 32px;
  background-color: white;
  color: #484bb4;
  font-size: 24px;
}
.create__logo__btn {
  margin-top: 8%;
}
.container-fluid__landing-page__start__button__btn {
  position: relative;
  width: 60%;
  height: 56px;
  border-radius: 32px;
  color: white;
  background-color: #484bb4;
  font-size: 24px;
  margin-top: 8%;
}
.vertical-center {
  margin: auto;
}
.container-fluid__landing-page__button__btn__icon {
  margin-left: 28px;
}
.container-fluid__logo-creation {
  font-family: "Nunito", sans-serif;
  /* padding: 4% 0 4% 0; */
  margin-bottom: 10%;
  /* background-image: url("../images/logo_creation_bg.png"); */
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 0 16px #fafafa;
  box-shadow: 0 0 16px #fafafa;
}
.logo__creation__bg {
  background-color: #484bb4;
  color: white;
}
.container-fluid__logo-creation__blocks {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 16px #fafafa;
  box-shadow: 0 0 16px #fafafa;
  border: 0.5px solid #fafafa;
  padding: 8% 8%;
}
.container-fluid__logo-creation__blocks__block {
  padding: 12px;
}
.container-fluid__logo-creation__blocks__block img {
  width: 84px;
  padding: 0 0 12px 0;
}
.container-fluid__logo-creation__blocks__block h3 {
  color: #484bb4;
}
.container-fluid__logo-creation__blocks__block p {
  padding-top: 12px;
  color: black;
}
.container-fluid__templates {
  padding: 1% 4% 8% 4%;
}
.container-fluid__templates__layouts__block {
  padding: 12px;
  height: 300px;
}
.container-fluid__templates__layouts__block__image {
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.container-fluid__templates__layouts__block__image img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.font-styling {
  font-size: 40px;
  width: 400px;
}
.logo-creation-wrapper {
  margin-bottom: 12%;
}
.sidebar-styling {
  margin-left: 8%;
}
section {
  margin-top: 4%;
  margin-bottom: 4%;
}
.left-align {
  text-align: left;
  padding-top: 2%;
}
.section-bg {
  background-color: #484bb4;
  color: white;
  padding: 4%;
}
.container-fluid__footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.container-fluid__footer__section__block-left {
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid__footer__section__block-left img {
  height: 60px;
}
.container-fluid__footer__section__block-middle {
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid__footer__section__block-middle__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-fluid__footer__section__block-middle__feature__list {
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid__footer__section__block-middle__feature__list h3 {
  color: #333;
}
.container-fluid__footer__section__block-middle__feature__list__links {
  list-style: none;
  padding: 0;
}
.container-fluid__footer__section__block-middle__feature__list__links li {
  padding: 4px;
}
.container-fluid__footer__section__block-middle__feature__list__links li a {
  text-decoration: none;
  color: #7d7d7d;
}
.container-fluid__footer__section__block-middle__feature__work-list {
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid__footer__section__block-middle__feature__work-list h3 {
  color: #333;
}
.container-fluid__footer__section__block-middle__feature__work-list__work-links {
  list-style: none;
  padding: 0;
}
.container-fluid__footer__section__block-middle__feature__work-list__work-links
  li {
  padding: 4px;
}
.container-fluid__footer__section__block-middle__feature__work-list__work-links
  li
  a {
  text-decoration: none;
  color: #7d7d7d;
}
.container-fluid__footer__section__block-right {
  padding-left: 10px;
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */
/* Footer Styling */
.site-footer {
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #484bb4;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #fb3958;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.parent_image {
  position: relative;
  top: 0;
  left: 0;
}
.inner_gif {
  position: absolute;
  top: 33%;
  left: 31%;
  z-index: 3;
}
.outer_image {
  position: relative;
  top: 0;
  left: 0;
}
