.save-logo{
    margin-top: 200px;
    width: 100px;
    height: 36px;
}

%selectColor {
    width: 36px;
    height: 36px;
    border-radius: 4px 0 0 4px;
    border: .5px solid #9b9b9b;
}

.logo-customise{
    &__select-color-container-card{
        border: 1px solid #9b9b9b;
        background: transparent;
        width: 100%;
    }
    &__select-color-container{
        margin: 0 0 0 0;
        border: 1px solid #9b9b9b;
        border-radius: 0 4px 4px 0;
        color: #333
    }
    &__select-text-color{
        @extend %selectColor;
    }
    &__select-bg-color{
        @extend %selectColor;
    }
    &__select-icon-color{
        @extend %selectColor;
    }
    &__position-button{
        width: 100%;
        box-shadow: none;
        border: .5px solid #c5c5c5;
        background-color: transparent !important;
        font-size: 10px;
        font-weight: bold;
        text-transform: none;
    }
}