@import '../../colors.scss';

.form{
    &__cards-container{
        &__card{
            &-serial{
                background:$orange !important;
                color: white;
            }
            &__preview{
                background: $grey-light-1;
                margin: 0 !important;
                padding: 0 !important;
            }
            &__preview img{
                width: 100%;
                height: auto;
            }
        }
    }
}