@import '../../colors.scss';

.form{
    &__cards-container{
        &__card{
            &-serial{
                background:$orange !important;
                color: white;
            }
            &__preview{
                background: $grey-light-1;
                margin: 0 !important;
                padding: 0 !important;
            }
            &__preview img{
                width: 100%;
                height: auto;
            }
        }
    }
}

#formContainer {
    background-image: url("../../../assets/images/Artboard.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
}

.formInputContainer{
    position: relative;
    align-self: baseline;
    margin-left: 0;
}

.inputField{
    color: #fff;
    width: 280px;
    height: 35px;
    padding-left: 15px;
    padding-top: 2px;
    background-color: #000;
    margin-top: 50px;
    margin-left: -1vw;
}

.title {
    color: #fff; 
    font-size: 3rem !important;
}

.subtitle {
    padding:4%; 
    color: #fff; 
    font-size: 1rem !important;
    text-align: center;
}

.subContainer{
    margin-top: 8vw; 
    height: 180px;
}


@media (min-width: 1300px){
    .formInputContainer{
        position: relative;
        margin-left: 0;
    }
}

@media (min-width: 1290px) and (max-width: 1300px){
    .formInputContainer{
        position: relative;
        margin-left: 0;
    }
}



@media (max-width: 1290px){
    .formInputContainer{
        position: relative;
        align-self: baseline;
        margin-left: 0;
    }
    
    .inputField{
        color: #fff;
        width: 230px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 4vw;
        margin-left: -1vw;
    }

    .inputField:focus{
        outline: none;
    }
    .title {
        color: #fff; 
        font-size: 2.5rem;
    }
    
    .subtitle {
        padding-bottom:4%; 
        padding-top:4%; 
        color: #fff; 
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (max-width: 1290px) and (min-width: 1020px){
    .formInputContainer{
        position: relative;
        margin-left: 0;
    }

    .inputField{
        color: #fff;
        width: 230px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 7vh;
        margin-left: -1vw;
    }
}

@media (max-width: 1200px){
    .holder {
        margin-top: 1%;
    }
}

@media (max-width: 1080px) and (min-width: 961px) {
    .holder {
        margin-top: 1%;
    }
}

@media (max-width: 1020px){
    .formInputContainer{
        position: relative;
        align-self: baseline;
        margin-left: 0;
    }
    
    .inputField{
        color: #fff;
        width: 230px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 7vh;
        margin-left: -1vw;
    }

    .inputField:focus{
        outline: none;
    }
}

@media (min-width: 958px) and (max-width: 960px) {
    .formInputContainer{
        position: relative;
        align-self: baseline;
        margin-left: 0;
    }
    
    .inputField{
        color: #fff;
        width: 230px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 7vh;
        margin-left: -1vw;
    }

    .inputField:focus{
        outline: none;
    }
}

@media (max-width: 959px){
    .formInputContainer{
        position: relative;
        align-self: baseline;
        margin-left: 0;
    }
    
    .inputField{
        color: #fff;
        width: 230px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 7vh;
        margin-left: -1vw;
    }

    .inputField:focus{
        outline: none;
    }
    .holder{
        margin-top: -1%;
    }
    .subContainer{
        margin-top: 8vw; 
        height: 190px;
    }
}

@media (max-width: 750px){
    .formInputContainer{
        position: relative;
        align-self: baseline;
        margin-left: 0;
    }
    
    .inputField{
        color: #fff;
        width: 230px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 7vh;
        margin-left: -1vw;
    }

    .inputField:focus{
        outline: none;
    }
    .holder {
        margin-top: -1%;
    }
    .subContainer{
        margin-top: 8vw; 
        height: 30vh;
    }
}

@media (max-width: 400px){

    .title {
        color: #fff; 
        font-size: 1.85rem !important;
    }
    
    .subtitle {
        padding-bottom:4%; 
        padding-top:4%; 
        color: #fff; 
        font-size: 0.8rem !important;
        text-align: center;
    }

    .formInputContainer{
        position: relative;
        align-self: baseline;
        margin-left: 0;
    }
    
    .inputField{
        color: #fff;
        width: 200px;
        height: 35px;
        padding-left: 15px;
        padding-top: 2px;
        margin-top: 7vh;
        margin-left: -1vw;
    }

    .inputField:focus{
        outline: none;
    }
}