$bg : #FDFDFD;
$bg-light : #E7E7E7;
$grey : #222222;
$grey-light-1 : #333333;
$grey-light-2 : #555555;
$grey-light-3 : #9B9B9B;
$orange-dark : #FF5F04;
$orange : #FF9D42;
$blue :  #1596DF;
$blue-dark :  #0057FF;
$sea-green : #2FDCB2;
$border-light : #C5C5C5;