$bg: #fdfdfd;
$bg-light: #e7e7e7;
$grey: #222222;
$grey-light-1: #333333;
$grey-light-2: #555555;
$grey-light-3: #9b9b9b;
$orange-dark: #ff5f04;
$orange: #f4a03f;
$blue: #1596df;
$blue-dark: #0057ff;
$sea-green: #2fdcb2;
$border-light: #c5c5c5;
