@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css?family=Alata|Baskervville|Calistoga|Fira+Sans|Ibarra+Real+Nova|Lato|Montserrat|Noto+Serif|Open+Sans|Poppins|Roboto|Roboto+Condensed&display=swap');

%textPreview {
  position: relative;
  width: 100%;
  height: 35vh;
  text-align: center;
}

.logo-text{
  &__preview-dark{
    @extend %textPreview;
    background: $grey-light-1;
    color: white;
    border-radius: 8px 8px 0 0;
  }
  &__preview-light{
    @extend %textPreview;
    background: $bg;
    text-align: center;
    border: .5px solid $border-light;
    border-radius: 0 0 8px 8px;
  }
  &__preview-text{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__font-selection-cards{
    color: $grey-light-1;
    text-align: center;
    height: 120px;
    border-radius: 8px;
    cursor: pointer;
    border: .5px solid $border-light;
  }
  &__font-selection-cards:hover{
    color: white;
    background: $grey-light-1;
    border: 0 solid $border-light;
    transition: .25s;
  }
  &__font-selection-cards-indicators{
    width: 1%;
    height: 119px;
    background-image: linear-gradient(to bottom , $orange-dark, $orange );
    position: absolute;
    border-radius: 8px 0 0 8px;
  }
  
}