@import "../../colors.scss";

.form {
  &__title {
    color: $grey-light-2;
    img {
      height: 80px;
    }
  }
  &__button-new-logo {
    width: 100%;
    height: auto;
    box-shadow: none;
    background: transparent;
    border: 1px solid $grey-light-3;
    border-style: dashed;
  }
  &__cards-container {
    &__card {
      &-serial {
        background: $orange !important;
        color: white;
      }
      &__preview {
        background: $grey-light-1;
        margin: 0 !important;
        padding: 0 !important;
      }
      &__preview img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.firstTimeVisitTitle {
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

// Footer
h3,
h4,
h5 {
  margin: 0;
}

.box {
  padding: 12px;
  // background: #333;
  color: black;
}

.def {
  width: 60%;
}

.contact-us-wrapper {
  display: flex;
  justify-content: space-between;
}

.abc {
  width: 19%;
  max-width: 360px;
}

h4 {
  margin-bottom: 12px;
}

.button-wrapper {
  text-align: center;
}

button {
  width: 30%;
  height: 40px;
  background: orange;
  border: 1px dashed lightgray;
  margin-top: 12px;
}
